<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1" align=center>
        <thead>
            <tr>
                <th>Hora</th>
                <th>Detalle</th>
                <th>Observaciones</th>
                <th><i class="fa fa-time"></i>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>7:00-8:30</td>
                <td id="descripcion">
                  <div>
                    <p>Alumno: Julio Larrea</p>
                    <p>Instructor: Victor Pozo</p>
                    <p>Horas disponibles de vuelo: 16</p>
                    <p>Horas disponibles de instructor: 16</p>
                  </div>
                </td>
                <td></td>
                <td class="accion"><button type="button" class="btn btn-primary"><i class="clip-eye"></i>&nbsp;Ver</button></td>
            </tr>
            <tr>
                <td>9:00-10:30</td>
                <td id="descripcion"></td>
                <td></td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-plus-circle-2"></i>Agregar</button>
                </td>
            </tr>
            <tr>
                <td>11:00-12:30</td>
                <td id="descripcion"></td>
                <td></td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-plus-circle-2"></i>Agregar</button>
                </td>
            </tr>
            <tr>
                <td>13:00-14:30</td>
                <td id="descripcion"></td>
                <td></td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-plus-circle-2"></i>Agregar</button>
                </td>
            </tr>
            <tr>
                <td>15:00-16:30</td>
                <td id="descripcion"></td>
                <td></td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-plus-circle-2"></i>Agregar</button>
                </td>
            </tr>
            <tr>
                <td>17:00-18:30</td>
                <td>
                  <p>Alumno: Elizabth Suarez</p>
                  <p>Instructor: Victor Pozo</p>
                  <p>Horas disponibles de vuelo: 10</p>
                  <p>Horas disponibles de instructor: 10</p>
                </td>
                <td>Falta cancelar un saldo de $80.60</td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-eye"></i>&nbsp;Ver</button>
                </td>
            </tr>
            <tr>
                <td>19:00-20:30</td>
                <td id="descripcion"></td>
                <td></td>
                <td class="accion">
                  <button type="button" class="btn btn-primary"><i class="clip-plus-circle-2"></i>Agregar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
